@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.title{
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 1rem 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}	

.title2{
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 1rem 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}	


.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}